# Configuration created by Apache Sling JCR Installer
log.level="debug"
passiveQueues=[""]
retry.attempts=I"100"
packageBuilder.target="(name\=default)"
packageExporter.endpoints=["https://54.188.138.206/libs/sling/distribution/services/exporters/pubsync","https://44.241.165.97/libs/sling/distribution/services/exporters/pubsync"]
enabled=B"true"
serviceName="distributionService"
queue.processing.enabled=B"true"
transportSecretProvider.target="(name\=distributionsync-publishuser)"
packageImporter.endpoints=["https://54.188.138.206/libs/sling/distribution/services/importers/sync","https://44.241.165.97/libs/sling/distribution/services/importers/sync"]
triggers.target="(name\=pubsync-trigger)"
requestAuthorizationStrategy.target="(name\=default)"
details=""
http.conn.timeout=I"10"
retry.strategy="none"
name="distribution-sync"
title="distribution-sync"
pull.items=I"100"
