/* converting this CSS to SCSS, please check on the respective SCSS file*/

/* 
#wireless-footer textarea.dark+div.input_error.input_error.visible {
	color: var(--error-night) !important
}

#wireless-footer textarea.dark {
	color: var(--ash) !important;
	border-bottom: 2px solid var(--cinder)
}

#wireless-footer textarea.dark label,
#wireless-footer textarea.dark ::placeholder {
	color: var(--ash)
}

#wireless-footer textarea.dark *:focus {
	outline: none !important;
	box-shadow: none !important;
	border: none !important
}

#wireless-footer textarea.dark:focus {
	outline: none;
	border-bottom: 2px solid var(--water-night) !important;
	box-shadow: none
}

#wireless-footer textarea.dark:placeholder-shown:focus label,
#wireless-footer textarea.dark:placeholder-shown:focus ::placeholder,
#wireless-footer textarea.dark :invalid:focus label,
#wireless-footer textarea.dark :invalid:focus ::placeholder,
#wireless-footer textarea.dark :valid:focus~.status-bar label,
#wireless-footer textarea.dark :valid:focus~.status-bar ::placeholder {
	color: var(--ash)
}

#wireless-footer textarea.dark:hover {
	border-bottom: 2px solid var(--ash)
}

#wireless-footer textarea.dark:hover label,
#wireless-footer textarea.dark:hover ::placeholder {
	color: var(--color-smoke)
}

#wireless-footer textarea.dark label {
	color: var(--ash)
}

#wireless-footer textarea.dark .status-bar {
	background-color: var(--water-night)
}

#wireless-footer textarea.dark.errorBar {
	border-bottom: 2px solid var(--error-night) !important
}

.txtCenter {
	text-align: center
}

#wireless-footer {
	border-top: 1px solid var(--charcoal);
	height: 300px;
}

#wireless-footer .row {
	text-align: center
}

#wireless-footer .row ul li {
	display: inline-block;
	list-style: none;
	margin-bottom: 0 32px 32px 0
}

@media all and (min-width: 1025px) {
	#wireless-footer .row ul li {
		margin-bottom: 0
	}
}

#wireless-footer .row a {
	margin-right: 32px;
	font-weight: 800;
	text-align: center;
}

#wireless-footer .row a:hover {
	text-decoration: underline
}

#wireless-footer .row .footer-beacon {
	height: 32px;
	width: 32px
}

#wireless-footer .recaptcha {
	height: 77px;
	margin: 10px 10px 15px 10px
}

@media all and (max-width: 1024px) {
	#wireless-footer .recaptcha {
		margin: 25px 10px 15px
	}
}

@media all and (min-width: 768px)and (max-width: 1024px) {
	#wireless-footer .recaptcha {
		margin: 25px 10px 15px
	}
}

@media only screen and (min-device-width: 768px)and (max-device-width: 1024px)and (orientation: landscape)and (-webkit-min-device-pixel-ratio: 1) {
	#wireless-footer .recaptcha {
		margin: 10px 10px 15px 10px
	}
}

#wireless-footer .footer_bullet {
	margin: 0;
	max-width: 100%;
	padding: 10px 0 0 43px
}

#wireless-footer .footer_bullet li {
	list-style: disc;
	line-height: 1.25rem;
	position: relative;
	text-align: left;
	font-size: 1.125rem;
	padding-bottom: 4px
}

#wireless-footer .footer_bullet li:first-child {
	padding-top: 10px
}

#wireless-footer .footer-textfield .input-field {
	cursor: text;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
	border-bottom: 2px solid #d0d0d4;
	border-radius: 7px 7px 0 0;
	color: #696972;
	padding: 6px 16px 7px !important;
	-webkit-transition: all 1s cubic-bezier(0, 0.48, 0.19, 1.01);
	transition: all 1s cubic-bezier(0, 0.48, 0.19, 1.01);
	width: auto;
	margin: auto 0
}

#wireless-footer .footer-textfield label {
	pointer-events: none;
	width: 100%;
	font-size: 1rem;
	line-height: 1.3125rem;
	font-weight: 500;
	color: var(--color-marshmallow);
	text-align: left
}

#wireless-footer .footer-textfield input[type=text] {
	font-size: 1.125rem;
	line-height: 1.5rem;
	font-weight: 500;
	color: var(--ash) !important;
	border: none;
	background-color: transparent
}

#wireless-footer .footer-textfield .status-bar {
	position: absolute;
	width: 0%;
	height: 2px;
	background-color: var(--water);
	bottom: -2px;
	left: 0;
	-webkit-transition: all 1s cubic-bezier(0, 0.48, 0.19, 1.01);
	transition: all 1s cubic-bezier(0, 0.48, 0.19, 1.01);
	padding: 0 !important
}

#wireless-footer #footer-main .input_error.visible {
	display: inline-block;
	text-align: left;
	color: #edc514;
	top: 66px !important
}

#wireless-footer .footer-legal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: .8125rem;
	color: #999;
	padding: 7px 0 50px;
	margin-bottom: 0 !important
}

@media all and (min-width: 1025px) {
	#wireless-footer .footer-legal {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
}

#wireless-footer .footer-legal .privacy {
	padding-top: 10px
}

#wireless-footer .footer-legal .privacy a {
	color: #999
}

@media all and (min-width: 1025px) {
	#wireless-footer .footer-legal .privacy {
		padding-top: 0
	}
}

#wireless-footer .footer-legal .beacon-group {
	padding-right: 0px !important;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

#wireless-footer .footer-legal .beacon {
	height: 32px;
	width: 32px;
	margin: 0 8px
}

#wireless-footer .footer-legal .beacon:first-child {
	padding-left: 0px !important
}

#wireless-footer .footer-legal .beacon:last-child {
	padding-right: 0px !important
}

#wireless-footer .footer-legal .beacon svg {
	background: radial-gradient(circle at center, white 50%, transparent 100%);
	border-radius: 50%
}

#wireless-footer .footer-legal .beacon-dish g {
	fill: var(--blaze)
}

#wireless-footer .footer-legal .beacon-ontech g {
	fill: var(--ontech-blue)
}

#wireless-footer .footer-legal .beacon-sling g {
	fill: #14abe0
}

#wireless-footer .footer-legal .beacon-boost g {
	fill: var(--tangerine)
}

#wireless-footer .mar-b_64 {
	margin-top: 30px !important;
}

#wireless-footer .text-16 {
	font-size: 1rem;
	line-height: 2.5;
	font-weight: 500;
}

#wireless-footer a {
	color: var(--coal);
	text-decoration: none;
}

#wireless-footer .mar-b_128 {
	margin-bottom: 128px !important;
}

#wireless-footer ul, #wireless-footer ol {
	list-style: none;
}

#wireless-footer ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}
#wireless-footer .pad-t_25 {
	padding-top: 25px;
} */