#registry = "https://artifactory.global.dish.com/artifactory/api/npm/npm-virtual"
#strict-ssl = false
#proxy = "http://artifactory-proxy.global.dish.com:8080"
#https-proxy = "http://artifactory-proxy.global.dish.com:8080"
#noproxy = "https://artifactory.global.dish.com"
#always-auth = true
