.aem {	
	.cf-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		outline: none;
		border: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		padding: 0;
		display: inline-block;
		box-sizing: border-box;
		position: relative;
		cursor: pointer;
		min-width: calculateRem(110);
		border-radius: calculateRem(7);
		font-family: var(--font-primary);
		@include t-18();
		font-weight: $font-weight-extrabold;
		overflow: hidden;
		transition: .1s transform $transition-ease, .3s background-size $transition-ease, .1s background-image $transition-ease;
		overflow: hidden;
		color: var(--color-marshmallow);
		background: var(--color-coal) linear-gradient(rgba(255, 255, 255, .10), rgba(255, 255, 255, .10)) 0% 100%/100% 0% no-repeat;
		&:active {
			transform: scale(0.95);
		}
		&:disabled {
			cursor: not-allowed;
			pointer-events: none;
			opacity: 0.4;
			@include transition (all, $transition-slow);
		}
		a {
			width: 100%;
			padding: calculateRem(10) calculateRem(32);
			display: inline-block;
			background: none;
		}
	}
	.cf-button:hover, .cf-button:focus {
		background-size: 100% 100% !important;
		color: var(--color-marshmallow);
	}
	.neutral-ghost .cf-button, .water-ghost .cf-button {
		background: none;
		border: calculateRem(2) solid black;
	}
	.neutral-ghost .cf-button:before,.water-ghost .cf-button:before {
		transition: .1s transform $transition-ease, .3s background-size $transition-ease, .1s background-image $transition-ease;
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		opacity: 0.05;
	}
	.neutral-ghost .cf-button:hover:before,.water-ghost .cf-button:hover:before,.neutral-ghost .cf-button:focus:before,.water-ghost .cf-button:focus:before {
		background-size: 100% 100% !important;
	}
	.cf-button:disabled:hover, .cf-button:disabled:focus-within, .cf-button:disabled:focus, .cf-button:disabled:active {
		transform: translateY(0);
	}
	.neutral-ghost {
		.cf-button {
			border-color: var(--color-coal);
			color: var(--color-coal);
			&:before {
				background: linear-gradient(var(--color-coal), var(--color-coal)) 0% 100%/100% 0% no-repeat;
			}
		}
	}
	.water-filled {
		.cf-button {
			color: var(--color-marshmallow);
			background: $color-water-day linear-gradient(rgba(0,0,0,.07),rgba(0,0,0,.07)) 0% 100%/100% 0% no-repeat;
		}
	}
	.water-ghost {
		.cf-button {
			border-color: $color-water-day;
			color: $color-water-day;
			&:before {
				background: linear-gradient($color-water-day, $color-water-day) 0% 100%/100% 0% no-repeat;
			}
		}
	}
	.light-theme-smoke .cf-button, .light-theme-marshmallow .cf-button {
		color: var(--color-marshmallow);
		background: var(--color-coal) linear-gradient(rgba(255, 255, 255, .10), rgba(255, 255, 255, .10)) 0% 100%/100% 0% no-repeat;
	}
	.light-theme-smoke .neutral-ghost .cf-button, .light-theme-marshmallow .neutral-ghost .cf-button {
		background: none;
		border-color: var(--color-coal);
		color: var(--color-coal);
	}
	.light-theme-smoke .neutral-ghost .cf-button:before, .light-theme-marshmallow .neutral-ghost .cf-button:before {
		background: linear-gradient(var(--color-coal), var(--color-coal)) 0% 100%/100% 0% no-repeat;
	}
	.light-theme-smoke .water-filled .cf-button, .light-theme-marshmallow .water-filled .cf-button {
		color: var(--color-marshmallow);
		background: $color-water-day linear-gradient(rgba(0,0,0,.07),rgba(0,0,0,.07)) 0% 100%/100% 0% no-repeat;
	}
	.light-theme-smoke .water-ghost .cf-button, .light-theme-marshmallow .water-ghost .cf-button {
		background: none;
		border-color: $color-water-day;
		color: $color-water-day;
	}
	.light-theme-smoke .water-ghost .cf-button:before, .light-theme-marshmallow .water-ghost .cf-button:before {
		background: linear-gradient($color-water-day, $color-water-day) 0% 100%/100% 0% no-repeat;
	}
	.dark-theme-coal .cf-button, .dark-theme-midnight .cf-button {
		color: var(--color-coal);
		background: var(--color-marshmallow) linear-gradient(rgba(0, 0, 0, .07), rgba(0, 0, 0, .07)) 0% 100%/100% 0% no-repeat;
	}
	.dark-theme-coal .neutral-ghost .cf-button, .dark-theme-midnight .neutral-ghost .cf-button {
		background: none;
		border-color: var(--color-marshmallow);
		color: var(--color-marshmallow);
	}
	.dark-theme-coal .neutral-ghost .cf-button:before, .dark-theme-midnight .neutral-ghost .cf-button:before {
		background: linear-gradient(var(--color-marshmallow), var(--color-marshmallow)) 0% 100%/100% 0% no-repeat;
	}
	.dark-theme-coal .water-filled .cf-button, .dark-theme-midnight .water-filled .cf-button {
		color: var(--color-coal);
		background: $color-water-night linear-gradient(rgba(0,0,0,.07),rgba(0,0,0,.07)) 0% 100%/100% 0% no-repeat;
	}
	.dark-theme-coal .water-ghost .cf-button, .dark-theme-midnight .water-ghost .cf-button {
		background: none;
		border-color: $color-water-night;
		color: $color-water-night;
	}
	.dark-theme-coal .water-ghost .cf-button:before, .dark-theme-midnight .water-ghost .cf-button:before {
		background: linear-gradient($color-water-night, $color-water-night) 0% 100%/100% 0% no-repeat;
	}
	.modal-box {
		display: none;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.4);
		text-align: left;
	}
	.modal-content {
		background-color: #fefefe;
		margin: 15% auto;
		padding: 20px;
		border: 1px solid #888;
		width: 80%;
	}
	.close {
		text-align: right;
	}
	.close:hover,
	.close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}
	.cmp-button {
		min-width: 7.65rem;
		min-height: 2.7rem;
		padding : .625rem 2rem;
		&--video {
			@extend .cmp-button;
		}
	}
	.button-left {
		.button-container {
			text-align: left;
			&--video {
				@extend .button-container;
			}
		}
	}
	.button-right {
		.button-container {
			text-align: right;
			&--video {
				@extend .button-container;
			}
		}
	}
	.button-center {
		.button-container {
			text-align: center;
			&--video {
				@extend .button-container;
			}
		}
	}
	.d-none {
		display: none;
	}
	.d-block {
		display: block;
	}

}	
