<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-use.carousel="com.adobe.cq.wcm.core.components.models.Carousel">
</sly>


<div class="cmp-carousel cmp-carousel__${properties.backgroundType} ${wcmmode.edit || wcmmode.design ? 'author__page':'' }"
     id="${carousel.id}" data-cmp-is="carousel" data-panelcontainer="${wcmmode.edit && 'carousel'}" data-cmp-autoplay="${(wcmmode.edit || wcmmode.preview) ? '' : carousel.autoplay}" data-cmp-delay="${carousel.delay}" data-cmp-autopause-disabled="${carousel.autopauseDisabled}" data-component-config='{"backgroundType":"${properties.backgroundType}","solidColor":"${properties.color}","backgroundImage":"${properties.backgroundFileReference}"}'>
   <div class="image-carousel" data-sly-test="${carousel.items && carousel.items.size > 0}">
      <div  style="display: flex;justify-content: center;align-items: center;align-content: center;">
         <div>
            <button class="cmp-carousel__action cmp-carousel__action--previous"
                    type="button"
                    aria-label="${'Previous' @ i18n}"
                    data-cmp-hook-carousel="previous">
               <span class="cmp-carousel__action-icon"></span>
               <span class="cmp-carousel__action-text">
                  <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 0 24 24" width="40px" fill="#171725">
                     <path d="M0 0h24v24H0V0z" fill="none"/>
                     <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z"/>
                  </svg>
               </span>
            </button>
         </div>
         <div data-sly-repeat.item="${carousel.items}" style="flex: 0 0 100%;" data-sly-resource="${item.name @ decorationTagName='div'}" role="tabpanel" class="cmp-carousel__item${itemList.first ? ' cmp-carousel__item--active' : ''}" data-cmp-hook-carousel="item"></div>
         <div>
            <button class="right-click" class="cmp-carousel__action cmp-carousel__action--next"
                    type="button"
                    aria-label="${'Next' @ i18n}"
                    data-cmp-hook-carousel="next">
               <span class="cmp-carousel__action-icon"></span>
               <span class="cmp-carousel__action-text">
               <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 0 24 24" width="40px" fill="#171725">
                  <path d="M0 0h24v24H0V0z" fill="none"/>
                  <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"/>
               </svg>
            </span>
            </button>
         </div>
      </div>
      <ol role="tablist" class="cmp-carousel__indicators" data-cmp-hook-carousel="indicators">
         <li data-sly-repeat.item="${carousel.items}" role="tab" class="cmp-carousel__indicator${itemList.first ? ' cmp-carousel__indicator--active' : ''}" data-cmp-hook-carousel="indicator">${item.title}</li>
      </ol>
   </div>

   <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/responsivegrid', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}" data-sly-test="${(wcmmode.edit || wcmmode.preview) && carousel.items.size < 1}"></sly>


</div>
<sly data-sly-call="${templates.placeholder @ isEmpty = carousel.items.size < 1}"/>
