.breadcrumb {
	background-color: inherit;
	margin: 0px;
	.breadcrumb-item {
		display: inline-block;
		padding: 0px;
		&::before {
			content: "";
			padding: 0px;
		}
		&::after {
			content: ">";
			color: var(--color-ash);
			padding-left: 7px;
			font-weight: bold;
		}
		&:last-child {
			&:after {
				content: "";
			}
			a {
				color: var(--color-coal);
			}
		}
		a {
			color: var(--color-cinder);
			text-decoration: none;
			&:hover {
				color: var(--color-charcoal);
				text-decoration: none;
			}
		}
	}
}
