.icon-card.text-24 {
	font-size: 1.5rem;
	line-height: 1.5625rem;
	font-weight: 800;
	color: #000000;
}
.icon-card.description {
	font-size: 0.98rem;
	line-height: 1.3125rem;
	font-weight: 500;
	color: #000000;
}
.pad-t_64 {
	padding-top: 64px !important;
}
.pad-b_12 {
	padding-bottom: 12px !important;
}
.iconGrid {
	.col-2 {
		img {
			margin: 0 auto;
			display: flex;
		}
	}
	.row {
		align-items: center;
	}
	.leftBox-white {
		padding: 32px 0;
		display: flex;
		flex-direction: column;
	}
}
.col-2 {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 8px 16px;
}
.col-3 {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 8px 16px;
}
h1 {
	font-weight: 800;
	margin: 0;
}
h2 {
	font-weight: 800;
	margin: 0;
}
h3 {
	font-weight: 800;
	margin: 0;
}
h4 {
	font-weight: 800;
	margin: 0;
}
h5 {
	font-weight: 800;
	margin: 0;
}
h6 {
	font-weight: 800;
	margin: 0;
}
@media (max-width: 1025px) {
	.icon-card.show-nondesktop {
		display: block;
	}
	.icon-card.show-desktop {
		display: none;
	}
	.icon-card.col-2.offset-1 {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.icon-card.col-3.leftBox-white.setpad {
		max-width: fit-content;
	}
}
@media (max-width: 426px) {
	.icon-card.col-2.offset-1 {
		display: block;
		margin-left: 30%;
		margin-right: auto;
	}
}
@media (min-width: 1025px) {
	.icon-card.col-3.leftBox-white.setpad {
		padding: 40px 2px 40px 40px !important;
		height: 256px;
		max-width: 267px;
		background-image: linear-gradient(to right, var(--color-marshmallow), var(--color-marshmallow) 35%, var(--color-steam) 15%, var(--color-steam) 85%);
	}
	.icon-card.show-nondesktop {
		display: none;
	}
	.icon-card.show-desktop {
		display: block;
	}
}