
// Typographic Super Scale Classes
.aem {
    .t-96, .t-96 h1, .t-96 p{
        @include font(96,96);
        letter-spacing: -0.0125rem;
        font-weight: $font-weight-extrabold;
    }
    
    .t-128, .t-128 h1, .t-128 p {
        @include font(128,128);
        letter-spacing: -0.15625rem;
        font-weight: $font-weight-extrabold;
    }
    
    .t-192, .t-192 h1, .t-192 p {
        @include font(192,192);
        letter-spacing: -0.1875rem;
        font-weight: $font-weight-extrabold;
    }
    
    .t-256, .t-256 h1, .t-256 p {
        @include font(256,256);
        letter-spacing: -0.25rem;
        font-weight: $font-weight-extrabold;
    }
}
	